In [1]:
# create a  list of your favorite movies and print it. Then, append a new movie to the list and 
# print the updated list. 
mylist=['Sholay','Dark','Singham']
print(mylist)

['Sholay', 'Dark', 'Singham']

In [4]:
mylist.append('Dhoom')
print(mylist)

['Sholay', 'Dark', 'Singham', 'Dhoom']

In [5]:
#Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in 
# the list and print the result.
intlist=(1,2,3,4,5,6,7,8,9,10)
print(intlist)
sum=0
for x in intlist:
    sum=sum+x
print(sum)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [8]:
# Create a list of mixed data types including strings, integers, and floats and print it. Remove 
# the first element from the list and print the modified list.
list1=['Hello',10,25.2]
print(list1)
list1.remove('Hello')
print(list1)

['Hello', 10, 25.2]
[10, 25.2]

In [9]:
#Create a tuple containing the names of the days of the week and print it. Access and print 
# the name of the third day. 
tup1=('sunday','monday','tuesday','wednusday','thursday','friday','saturday')
print(tup1)
print(tup1[2])

('sunday', 'monday', 'tuesday', 'wednusday', 'thursday', 'friday', 'saturday')
tuesday

In [15]:
# Create a tuple of your favorite colors and print it. Check if a certain color is present in the 
# tuple and print the result.
colors=('red','blue','green','yello')
print(colors)
if 'green' in colors:
    print("yes,its contain")
else:
    print("no, it doesnt contain")

('red', 'blue', 'green', 'yello')
yes,its contain

In [18]:
# Create a dictionary representing the information of a book with keys "title", "author", and 
# "year" and print it. Update the year of the book and print the updated dictionary. 
book={'title':'beyond time','author':'j thomson','year':2019}
print(book)

{'title': 'beyond time', 'author': 'j thomson', 'year': 2019}

In [20]:
book['year']=2018
print(book)

{'title': 'beyond time', 'author': 'j thomson', 'year': 2018}

In [21]:
#  Create a dictionary containing the names of fruits as keys and their corresponding colors 
# as values and print it. Add a new fruit-color pair to the dictionary and print the updated 
# dictionary.
fruits={'appple':'red','grape':'green','banana':'yellow'}
print(fruits)

{'appple': 'red', 'grape': 'green', 'banana': 'yellow'}

In [23]:
fruits["strawberry"]="pink"
print(fruits)

{'appple': 'red', 'grape': 'green', 'banana': 'yellow', 'strawberry': 'pink'}

In [24]:
# Create a dictionary representing the population of different cities with keys as city names 
# and values as population numbers and print it. Remove a city from the dictionary and print 
# the modified dictionary. 
city={
    "ktm":220000,
    "brt":180000,
    "jnk":140000
}
print(city)

{'ktm': 220000, 'brt': 180000, 'jnk': 140000}

In [26]:
city.pop("brt")
print(city)

{'ktm': 220000, 'jnk': 140000}

AttributeError: 'dict' object has no attribute 'remove'